{% extends "network/layout.html" %}
{% block body %}
<h1 class="text-center">{{profile.username}}</h1>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-1 mx-auto"><h3>{{followers}}</h3></div>  <div class="col-sm-1 mx-auto"><h3>{{following}}</h3></div>
            </div>
            <div class="row">
                <div class="col-sm-2.5 mx-auto"><h5>followers</h5></div>  <div class="col-sm-2.5 mx-auto"><h5>following</h5></div>
            </div>
        </div>
    </div>
    {% if user.username == profile.username %}
    <div></div>
    {% else %}
    <div class="text-center">
        {% if user in profile.followers.all %}
        <a href="{% url 'follow' profile.username %}"><button class="btn btn-secondary" > Unfollow </button></a>

        {% else %}
        <a href="{% url 'follow' profile.username %}"><button class="btn btn-primary" > Follow </button></a>
        {% endif %}
       <br><br>    </div>
    {% endif %}
    <!-- Posts Section -->
    {% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{post.posted_by.username}}</h5>
            {% if post.posted_by.username == user.username %}
                <a href="#" class="text-decoration-none">Edit</a>
            {% endif %}
            <p class="card-text">{{post.content}}</p>
            <p class="card-text">
                <small class="text-muted">{{post.time}}</small>
            </p>
            <a href="#" class="text-danger">❤️ 0</a>
            <p><a href="#" class="text-muted">Comment</a></p>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}
